body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.error {
  background: red;
  padding: 10px 15px;
  color: white;
  display: none;
}

.results {
  font-size: 1em;
}

.dropdown {
  margin-bottom: 50px;
}

.inline-block {
  display: inline-block;
}

.center {
  width: 90%;
  margin: 0 auto 30px;
}
